<div class="error-page">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-1 order-2">
        <div class="error-content">
          <h1 class="display-1 fw-bold">404</h1>
          <h2 class="mb-4">Event Not Found!</h2>
          <p class="lead mb-4">The page you're looking for has disappeared like last-minute party guests. But don't worry - we'll help you plan something better!</p>
          
          <div class="d-flex flex-wrap gap-3 mt-5">
            <a routerLink="/" class="btn btn-theme-primary btn-lg px-4">
              <i class="fas fa-home me-2"></i> Homepage
            </a>
            <a routerLink="/events" class="btn btn-theme-outline btn-lg px-4">
              <i class="fas fa-calendar-alt me-2"></i> Find Events
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2 order-1 mb-5 mb-lg-0">
        <div class="error-image">
          <img src="https://imgs.search.brave.com/GBa7qEMnEq572UJCNE4eCAOXrNMcgDbC1E3miApVR84/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9kZWZvY3VzZWQt/aW1hZ2UtaWxsdW1p/bmF0ZWQtbGlnaHRz/XzEwNDg5NDQtMTMy/ODc3OTAuanBnP3Nl/bXQ9YWlzX2h5YnJp/ZCZ3PTc0MA" alt="Lost event illustration" class="img-fluid">
          <div class="floating-elements">
            <div class="floating-icon icon-1">
              <i class="fas fa-birthday-cake"></i>
            </div>
            <div class="floating-icon icon-2">
              <i class="fas fa-music"></i>
            </div>
            <div class="floating-icon icon-3">
              <i class="fas fa-camera"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="search-box mt-5">
      <h5 class="mb-3">Search our event collection</h5>
      <div class="input-group">
        <input type="text" class="form-control form-control-lg" placeholder="What are you looking for?">
        <button class="btn btn-theme-primary" type="button">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </div>
  </div>
</div>